:root {
  --b2b-red: #d10c0c;
  --b2b-light-grey: #d4d4d4;
  --b2b-grey: #c3c3c3;
  --b2b-link-color: #e4e4e4;
  --b2b-black: #424243;
  --b2b-layout: #f3f3f3;
}

$b2b-red: var(--b2b-red);
$b2b-light-grey: var(--b2b-light-grey);
$b2b-grey: var(--b2b-grey);
$b2b-link-color: var(--b2b-link-color);
$b2b-black: var(--b2b-black);
$b2b-layout: var(--b2b-layout);
